<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Редактирование книги</title>
</head>
<body>
<div class="container">
    <div class="modal-header">
        <h5 class="modal-title">Редактирование книги</h5>
    </div>
    <form id="form" class="needs-validation" enctype="multipart/form-data" novalidate
          th:action="@{/books/save}" th:object="${book}" method="post">
        <div class="form-group">
            <div class="form-row">
                <input type="hidden" name="id" th:value="*{id}" />
                <div class="col-12">
                    <input type="text" class="form-control form-control_customize" name="name"
                           placeholder="Название" required th:field="*{name}">
                </div>
                <div class="col-12">
                    <select th:field="*{author}" class="custom-select custom-select-lg mb-3">
                        <option value=""> --</option>
                        <option th:each="author : ${authors}"
                                th:value="${author.id}"
                                th:text="${author.family}">Фамилия
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <select th:field="*{genre}" class="custom-select custom-select-lg mb-3">
                        <option value=""> --</option>
                        <option th:each="genre : ${genres}"
                                th:value="${genre.id}"
                                th:text="${genre.name}">Жанр
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control form-control_customize" name="name"
                           placeholder="Год издания" required th:field="*{releaseYear}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-primary btn-outline_customize btn_gray" data-dismiss="modal"
                    aria-label="Close" type="submit" th:action="@{/books}" method="get">Отмена
            </button>
            <button class="btn btn-primary btn_customize btn_green" type="submit" id="add" >
                Сохранить
            </button>
        </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</html>