<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <title>Жанры</title>
</head>
<body>
    <div th:insert="~{fragments/menu-nav-bar :: menu}"></div>
    <div class="container">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">
                    <button class="btn btn-success" data-toggle="modal"
                            data-target="#addGenre">Добавить жанр
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre,i : ${genres}">
                <td th:text="${genre.name}">Детские сказки</td>
                <td class="table__button">
                    <button type="button" class="close close_customize" data-toggle="modal"
                            data-target="#deleteGenre" title="Удалить жанр">
                        <span>×</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addGenre" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление жанра</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="form" class="needs-validation" validate
                      th:action="@{/genres/add}" th:object="${newGenre}" method="post">
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-12">
                                <input type="text" class="form-control form-control_customize" name="name"
                                       placeholder="Жанр" required th:field="*{name}">
                                <div class="invalid-feedback invalid-feedback_customize">Пожалуйста, введите Название жанра</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary btn-outline_customize btn_gray" data-dismiss="modal"
                                aria-label="Close" th:value="Reset">Отмена
                        </button>
                        <button class="btn btn-primary btn_customize btn_green" type="submit" id="add" th:value="Save">
                            Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/main.js"  th:src="@{/js/main.js}"></script>
</html>